
img {
    max-width: 20rem;
}

ul {
    list-style-type: none;
}
.container {
    display: flex;
}

.fishInfo {
    display: flex;
    flex-wrap: wrap;
}

.thoughts {
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-start;
    /* margin-left: 20%; */
    flex-direction: row;
}